<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to-do-list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>TO DO LIST</h1>
    <form action="" method="post">
        <input type="text" name="task" placeholder="add your task" class="input">
        <button class="btn-1"><i class="fa-solid fa-plus"></i></button>
    </form>
    <ol>
        <% for(let tsk of todo) { %>
        <!-- <li><%= tsk.task %> &nbsp;<a href="http://localhost:<%= process.env.YOUR_PORT %>/home">delete</a></li> -->

        <li><%= tsk.task %> &nbsp;
            
            <form action="/home/<%= tsk.id %>/edit" method="GET" style="display:inline;">
                <button type="submit" class="btn-1"><i class="fa-solid fa-pen-to-square"></i></button>
            </form>

            <form action="/home/<%= tsk.id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit" class="btn-1"><i class="fa-solid fa-delete-left"></i></button>
            </form>
        </li>
        <br>
        <% } %>
    </ol>

</body>
<script src="/script.js"></script>

</html>